@import "tailwindcss";

body {
    @apply bg-[#ffffff]; 
  }
  

::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}


::-webkit-scrollbar-thumb {
  background: #360dee71; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #360dee7b; 
}



::-webkit-scrollbar-track {
  background: #ffffff00; 
  border-radius: 10px;
}
